* {
    margin: 0 ;
    padding:  0
}
#row1{
background-color: #006bcf;
}
.btn {
margin: 10px 5px;
}
nav .navbar-brand {
font-weight: 800;
font-size: 24px;
margin-left: 8px;
}

.form-inline .form-control {
border-radius: 16px;
}
.form-control {
border-radius: 14px;
}
.form-inline  .btn {
border-radius: 50px;
padding: 5px 10px;
background-color: #006bcf;


}
.form-inline  .btn i {
    color :white;
}
.contact__button button {
border-radius: 6px;
background-color:  #006bcf;
border: 2px solid white;
}
/* tbody #getInfo {
display: none;
}  */
/* tbody #getInfo td input {
width: 100%;
} */
button i {
border: none;
}

#quaylai {
text-decoration: none;
}
.modal .modal-content .modal-body span {
    color: red;
}
.modal-header #exampleModalLongTitle {
padding-left:100px;
font-size: 30px;

}
#SapXep {
width: 20px;
height: 20px;

}
#DoanThang {
    display: flex;
    align-items: center;
}
#SapXep {
margin-left: 10px;
}
#DoanThang p {
margin-bottom:  0 ;
}
@media screen  and (max-width:576px ) {
    .table-container {
        width: 100%; /* Độ rộng của khung chứa */
        height: 100vh; /* Độ cao của khung chứa */
        overflow: auto; 
        overflow-x: auto;
        }
}
table {
    overflow-y:  auto;
    overflow-x:auto
}
