.list_products>.tab-pane {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.list_products .product {
    margin: 15px 2px;
}

.product .product-img {
    min-height: 295px;
    max-height: 295px;
}

.cart-dropdown {
    right: -80px;
    z-index: 991;
    max-width: 300px;
}

.products-slick,
.products-tabs .tab-pane {
    text-align: center;
}

/* Loader */
.loader {
    text-align: center;
    margin: 0 auto;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #62f8f1 #62f8f1 transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #FF3D00 #FF3D00;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}




@media screen and (max-width:990px) {
    .list_products>.tab-pane {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width:479px) {
    .list_products>.tab-pane {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .header-search form {
        display: flex;
        flex-direction: column;
    }

    .header-search form .input-select,
    .header-search form .input,
    .header-search form .search-btn {
        width: 100%;
        border-radius: 0;
    }

    .toggleMenu {
        display: none;
        position: fixed;
        z-index: 9;
        height: 100vh;
        width: 100vw;
    }

    .toggleMenu.active {
        display: block;
    }

    #responsive-nav.active {
        width: 80%;
    }

    /* .cart-dropdown {
        max-width: 100vw;
    } */
}

@media screen and (max-width:282px) {
    .cart-dropdown {
        max-width: 250px;
        right: -50px;
    }
}